* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 10px;
  }

  .biggestcol{
    flex: 100%;
    max-width: 100%;
    padding: 0 10px;
  }
  
  .column img {
    width: 100%;
    height: 580px;
    margin: 8px;
    object-fit: cover;
    cursor: pointer;
  }

  .biggestcol img{
    display: block;
    margin:auto;
    height: 680px;
    cursor: pointer;
  }

  .biggestcol img:hover{
    transform:scale(1.01);
  }

  .column img:hover {
    transform:scale(1.01);
  }

  .footer {
    padding: 10px;
    text-align: center;
  }

  .pop-up{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
    visibility: hidden;
    transition: all 0.2 ease;
  }

  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  .close{
    position: absolute;
    top:0;
    right:20px;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 1;
  }

  .pop-up img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 5px solid white;
    border-radius: 12px;
    /* height: 90%; */
    /* width: 90%; */
  }

 .next{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0,-50%);
    font-size: 60px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 1;
  }

  .prev{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0,-50%);
    font-size: 60px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 1;
  }


  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .close, .next, .prev{
      font-size: 30px;
      font-weight: bold;
    }
  }